{% extends "layouts/index.html" %} {% load static %} {% block title %}Tienda
Digital{% endblock %} {% block body %}

<!-- Productos -->
<div class="max-w-screen-lg mx-auto bg-white shadow-md rounded-xl p-6 mt-2">
  <h2 class="text-xl font-bold mb-4 text-center text-gray-800">
    Productos en catálogo
  </h2>

  <div class="space-y-6">
    <h2 class="text-xl font-semibold">Producto físico:</h2>
    <p><strong>Nombre:</strong> {{ producto_fisico }}</p>
    <p>
      <strong>Precio original:</strong>
      <span class="line-through text-red-500"
        >${{ producto_precio_original }}
      </span>
    </p>
    <p>
      <strong>Precio con descuento:</strong> ${{ producto_precio_descuento }}
    </p>
    <p><strong>Descuento aplicado:</strong> {{ producto_descuento }}%</p>
    <p><strong>Stock actual:</strong> {{ producto_stock }}</p>

    <hr class="my-6 border-gray-300" />

    <h2 class="text-xl font-semibold">Producto digital:</h2>
    <p><strong>Nombre:</strong> {{ producto_digital }}</p>
    <p>
      <strong>Precio original:</strong>
      <span class="line-through text-red-500"
        >${{ producto_digital_precio_original }}</span
      >
    </p>
    <p>
      <strong>Precio con descuento:</strong>
      ${{ producto_digital_precio_descuento }}
    </p>
    <p>
      <strong>Descuento aplicado:</strong> {{ producto_digital_descuento }}%
    </p>
    <div class=" flex justify-center">
      <button class="text-xl font-bold">Comprar</button>
    </div>
  </div>
</div>
{% endblock %}
